html {
	cursor: none;
	overflow: hidden;
	background: #000;
}

::-webkit-scrollbar {
	display: none;
}

body {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	margin: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;

	/* color for backgroun animation */
	background: linear-gradient(-45deg, #332555, #f7bd1f, #332555, #f7bd1f);
	animation: change-background 10s ease infinite alternate;
	background-size: 400% 400%;
}

@keyframes change-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}

/**
 * Default styles.
 */

.dimmed {
	color: #ddd;
	font-family: "Raleway", sans-serif;
}

.normal {
	color: #fff;
	font-family: "Raleway", sans-serif;
}

.bright {
	color: #fff;
	font-family: "Raleway", sans-serif;
}

.xsmall {
	font-size: 15px;
	line-height: 20px;
}

.small {
	font-size: 1.5vw;
	line-height: 25px;
}

.medium {
	font-size: 30px;
	line-height: 35px;
}

.large {
	font-size: 65px;
	line-height: 70px;
}

.xlarge {
	font-size: 75px;
	line-height: 80px;
	/*letter-spacing: -3px;*/
}

.xxlarge {
	font-size: 85px;
	line-height: 90px;
	/*letter-spacing: -6px;*/
}

.italic {
	font-family: "Raleway", sans-serif;
	font-style: italic;
	font-weight: 100;
}

.thin {
	font-family: "Raleway", sans-serif;
	font-weight: 100;
}

.light {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

.regular {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

.bold {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.spacing {
	margin: 50px 50px 50px 50px;
}

.horizontal-spacing {
	padding: 0px 20px;
}

header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 2vw;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	line-height: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #fff;
}

sup {
	font-size: 50%;
	line-height: 50%;
}

/**
 * V2 styles
 */
.top-container {
	width: 100%;
	height: 25%;
	justify-content: center;
	align-items: center;
}

.bottom-container {
	width: 100%;
	height: 65%;
	flex-flow: row wrap;
}

.footer {
	width: 100%;
	height: 10%;
	display: block;
	flex-direction: row;
}

.bottom-box {
	flex-direction: row;
	flex-wrap: wrap;
}

.square {
	width: 50%;
	height: 50%;
}

.upper-left {
	display: flex;
	order: 1;
}

.upper-right {
	order: 2;
}

.lower-left {
	order: 3;
}

.lower-right {
	order: 4;
}

/**
 * Module styles.
 */

.module {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 23, 50, 0.7);
	margin: 15px;
}

.module-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.module.one {
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

.module.two {
	width: calc(100% - 30px);
	height: calc(50% - 30px);
}

.module.three {
	width: calc(50% - 30px);
	height: calc(50% - 30px);
}

.module.four {
	width: calc(50% - 30px);
	height: calc(50% - 30px);
}

.region.bottom .module {
	margin-top: 30px;
	margin-bottom: 0;
}

.no-wrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * Region Definitions.
 */

.region {
	position: absolute;
}

.region.fullscreen {
	position: absolute;
	top: -60px;
	left: -60px;
	right: -60px;
	bottom: -60px;
	pointer-events: none;
}

.region.fullscreen * {
	pointer-events: auto;
}

.region.right {
	right: 0;
	text-align: right;
}

.region.top {
	top: 0;
}

.region.top .container {
	margin-bottom: 25px;
}

.region.bottom .container {
	margin-top: 25px;
}

.region.top .container:empty {
	margin-bottom: 0;
}

.region.top.center,
.region.bottom.center {
	left: 50%;
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.region.top.right,
.region.top.left,
.region.top.center {
	top: 100%;
}

.region.bottom {
	bottom: 0;
}

.region.bottom .container:empty {
	margin-top: 0;
}

.region.bottom.right,
.region.bottom.center,
.region.bottom.left {
	bottom: 100%;
}

.region.bar {
	width: 100%;
	text-align: center;
}

.region.third,
.region.middle.center {
	width: 100%;
	text-align: center;
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.region.upper.third {
	top: 33%;
}

.region.middle.center {
	top: 50%;
}

.region.lower.third {
	top: 66%;
}

.region.left {
	text-align: left;
}

table {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.8rem;
	margin: 0.5rem;
	line-height: 1.5;
	flex: 1 1 auto;
}

thead {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

th {
	font-weight: 700;
}

tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

td {
	display: flex;
	padding: 0.5em 0;
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0px;
	white-space: nowrap;
	text-align: left;
}
