.MMM-Placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;
}

.MMM-Placeholder .questionMark {
    font-size: 300px;
    font-weight: 500;
}